body {
    background-color: black;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#hourglass {
    display: none; /* Hide the hourglass initially */
    position: absolute;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top-color: white;
    border-bottom-color: white;
    top: calc(30% - 50px);
    left: calc(50% - 50px);
    animation: flip 2s infinite;
}

@keyframes flip {
    0% {
        transform: rotate(0deg);
        border-top-color: white;
        border-bottom-color: white;
    }
    50% {
        transform: rotate(180deg);
        border-top-color: transparent;
        border-bottom-color: transparent;
    }
    100% {
        transform: rotate(360deg);
        border-top-color: white;
        border-bottom-color: white;
    }
}
#wait-time {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    font-size: 16px;
    border: 2px solid white;
}

#elapsed-time {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    padding: 10px;
    border: 2px solid #FFF;
  }
  


#calendar {
    position: relative; /* Ensure the calendar is positioned correctly */
    color: black;
}

#result {
    display: none;
    background-color: yellow;
    border: 5px dotted red;
    padding: 20px;
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
}

@keyframes pop-up {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    80% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.pop-up {
    animation: pop-up 1s ease-out forwards;
}

@keyframes pop-in-out {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(0.5);
        opacity: 0;
    }
}

.pop-in-out {
    animation: pop-in-out 1s ease-in-out infinite;
}

#game-over {
    font-family: 'Calamity-Bold', sans-serif;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: red;
    text-align: center;
}

#game-over h1 {
    font-size: 24px;
    margin-top: 30vh;
}

#game-over p {
    font-size: 18px;
}

@font-face {
    font-family: 'Calamity-Bold';
    src: url('Calamity-Bold.otf') format('opentype');
}

#celebration {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('celebration.jpg');
    background-repeat: repeat;
    background-size: cover;
    color: white;
    text-align: center;
}
