body {
    background-color: lime;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: fuchsia;
    text-shadow: 2px 2px 4px #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#spinner {
    display: none;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: absolute;
    top: calc(50% - 60px); /* Adjust position based on spinner's size */
    left: calc(50% - 60px); /* Adjust position based on spinner's size */
    z-index: 1; /* Place the spinner above the calendar */
    animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
        opacity: 0.4;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.8);
        opacity: 0.4;
    }
}

#calendar {
    position: relative; /* Ensure the calendar is positioned correctly */
}

#result {
    display: none;
    background-color: yellow;
    border: 5px dotted red;
    padding: 20px;
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
}

@keyframes pop-up {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    80% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.pop-up {
    animation: pop-up 1s ease-out forwards;
}
@keyframes pop-in-out {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(0.5);
        opacity: 0;
    }
}

.pop-in-out {
    animation: pop-in-out 1s ease-in-out infinite;
}


#game-over {
    font-family: 'Calamity-Bold', sans-serif;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: red;
    text-align: center;
}

#game-over h1 {
    font-size: 24px;
    margin-top: 30vh;
}

#game-over p {
    font-size: 18px;
}

@font-face {
    font-family: 'Calamity-Bold';
    src: url('Calamity-Bold.otf') format('opentype');
}

#celebration {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('celebration.jpg');
    background-repeat: repeat;
    background-size: cover;
    color: white;
    text-align: center;
}
